.heroes {
  padding-top: 150px;

  &__title {
    margin-bottom: 30px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;

    @include small-tablet {
      margin-bottom: 15px;
    }
  }

  &__slider {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-bottom: 30px;

    @include tablet {
      padding-top: 50px;
    }
  }

  &__card {
    width: 235px;
    height: 235px;
    background-color: #320250;
    border-radius: 5px;
    position: relative;
    transform: scale(0.9);
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;

    @include tablet {
      width: 100%;
      height: 170px;
    }
  }

  .swiper-slide-active {
    .heroes__card {
      transform: scale(1.1);
      opacity: 1;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url('../images/icons/border-active.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
      }
    }
  }

  &__img {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include tablet {
      width: 200px;
      height: 200px;
    }
  }

  .centred {
    padding-right: 15px;
    padding-left: 15px;
  }

  .swiper-slide {
    width: 180px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    margin-top: 0;
  }

  .swiper-button-next {
    right: 5px;
  }

  .swiper-button-prev {
    left: 5px;
  }

  @include tablet {
    padding-top: 100px;
  }

  @include small-tablet {
    padding-top: 70px;
  }

  @include mobile {
    padding-top: 35px;
  }
}