.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $color-white;
  position: relative;
  z-index: 2;

  &__img {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__rocket {
    position: absolute;
    left: -4%;
    top: 4%;
    width: 20%;

    @include mobile {
      width: 27%;
    }
  }

  &__images {
    height: 70%;
  }

  &__clouds {
    position: absolute;
    bottom: -60%;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: initial;
    }

    @include tablet {
      bottom: -30%;
      height: 60%;
    }

    @include mobile {
      bottom: -20%;
      height: 40%;
    }
  }

  &__children {
    max-width: 600px;
    right: 15%;
    position: absolute;
    bottom: 0;

    @include large {
      right: 0;
    }

    @include small-tablet {
      max-width: 420px;
    }
  }

  .container {
    margin-bottom: auto;
  }

  &__box {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;

    @include tablet {
      padding-top: 120px;
    }

    @include small-tablet {
      padding-top: 80px;
    }

    @media (orientation: landscape) and (max-height: 600px) {
      padding-top: 50px;
    }
  }

  &__title {
    margin-bottom: 42px;
    font-family: 'Toxigenesis', sans-serif;
    font-weight: 700;
    font-size: 62px;
    text-transform: uppercase;

    span {
      display: block;
      background: linear-gradient(180deg, #8DA4EA 28.82%, #FFFFFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    @include tablet {
      font-size: 45px;
    }

    @include small-tablet {
      font-size: 32px;
      margin-bottom: 15px;
    }
  }

  &__desr {
    margin: 0 auto;
    margin-bottom: 70px;
    max-width: 460px;
    font-size: 22px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include small-tablet {
      font-size: 20px;
      margin-bottom: 30px;
    }

    @include mobile {
      max-width: 260px;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    svg {
      width: 24px;
      height: 24px;
      fill: $color-white;
      margin-right: 10px;

      @include mobile {
        width: 18px;
        height: 18px;
      }
    }

    &:hover {
      svg {
        fill: #8DA4EA;
      }
    }
  }

  @include small-tablet {
    padding-top: 80px;
  }

  @media (max-height: 700px) {
    height: 100%;
    padding-bottom: 250px;

    .hero__children {
      max-width: 410px;
    }
  }

  //max-height:1024
  @media (min-width: 768px) and (min-height: 700px) {
    height: 100%;
    padding-bottom: 360px;
  }

  @media (max-width: 768px) and (min-height: 700px) {
    height: 100%;
    padding-bottom: 270px;
  }
}