.program {
  padding-top: 150px;
  position: relative;

  &::before {
    height: 50%;
    bottom: 20%;
    left: 0;
  }

  &__title {
    margin-bottom: 30px;

    @include small-tablet {
      margin-bottom: 15px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 430px;
    grid-gap: 30px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }

    @include small-tablet {
      grid-gap: 0;
      display: flex;
      align-items: center;
      overflow: auto;
      margin-right: -15px;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
      }
    }
  }

  &__item {
    &:last-child {
      grid-column: span 3;
    }

    @include small-tablet {
      margin-right: 15px;

      &:last-child {
        display: none;
      }
    }
  }

  &__card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid #8DA4EA;
    transition: border-color 0.3s ease;
    position: relative;

    &::before,
    &::after {
      content: "";
      max-width: 130px;
      width: 100%;
      height: 2px;
      background-color: #8DA4EA;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: background-color 0.3s ease;
    }

    &::before {
      top: 5px;
    }

    &::after {
      bottom: 5px;
    }

    &:hover {
      border-color: $color-white;

      &::before,
      &::after {
        background-color: $color-white;
      }

      .program__box {
        top: 3%;
        background-color: #320250;
      }

      .program__subtitle {
        max-height: initial;
        overflow: initial;
        text-overflow: initial;
        -webkit-box-orient: initial;
      }
    }

    &--banner {
      border-radius: 20px;

      &::before,
      &::after {
        display: none;
      }
    }

    @include small-tablet {
      width: 220px;
      height: 340px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    height: 94%;
    padding-top: 65px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    left: 50%;
    // right: 0;
    bottom: 0;
    transform: translateX(-50%);
    background-color: transparent;
    top: 67%;
    transition: top 0.3s ease, background-color 0.3s ease;
    z-index: 3;

    @include small-tablet {
      top: 60%;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: $color-white;
    margin-bottom: 30px;
    @include line-clamp(20, 1.2, 2)
  }

  &__btn {
    display: inline-block;
    padding: 10px 30px;
    color: $color-white;
    border: 2px solid #8DA4EA;
    border-radius: 8px;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: $color-white;
    }
  }

  @include tablet {
    padding-top: 100px;
  }

  @include small-tablet {
    padding-top: 70px;
  }

  @include mobile {
    padding-top: 40px;
  }
}